
    <table *ngIf="employee">
        <thead>
            <tr>
                <th colspan="5">Employee Detials</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>code</td>
                <td>{{employee.code}}</td>
            </tr>
            <tr>
                <td>name</td>
                <td>{{employee.name}}</td>
            </tr>
            <tr>
                <td>gender</td>
                <td>{{employee.gender}}</td>
            </tr>
            <tr>
                <td>annualSalary</td>
                <td>{{employee.annualSalary}}</td>
            </tr>
            <tr>
                <td>dateOfBirth</td>
                <td>{{employee.dateOfBirth}}</td>
            </tr>
        </tbody>
    </table>
    <table *ngIf="!employee">
        <tr>
            <td>{{statusMessage}}</td>
        </tr>
    </table>

<table>
    <tr>
        <td>
            first Name
        </td>
        <td>
            {{firstname}}
        </td>
    </tr>
    <tr>
        <td>
            Last Name
        </td>
        <td>
            {{lastname}}
        </td>
    </tr>
    <tr *ngIf="showDetail">
        <td>
            Gender
        </td>
        <td>
            {{gender}}
        </td>

    <tr *ngIf="showDetail">
        <td>
            Age
        </td>
        <td>
            {{age}}
        </td>
    </tr>
</table>


<button (click)="showDetails()">{{showDetail ? "Hide" : "Show"}} Details</button>
<button on-click="onClick();">Click me</button>
<br />
<input type="text" [value]="name" (input)="name=$event.target.value" />
your value is : {{name}}
<br />
<br />
<input type="text" [(ngModel)]="ngmodel" />
your value is : {{ngmodel}}
<br />

